---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import SkillCard from '../components/SkillCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout>
  <Hero
    name="Diego Ca帽ari"
    role="Desarrollador Full Stack"
    image="perfil.jpg"
  />

  <About>
    Soy desarrolador nivel experto con enforque en arquitectura de software,
    buenas pr谩cticas y documentaci贸n clara usando la programaci贸n moderna.
  </About>

  <section class="mt-16 grid grid-cols-2 md:grid-cols-4 gap-4">
    <SkillCard name="JavaScript" icon="" level="Avanzado" />
    <SkillCard name="Astro" icon="" level="Intermedio" />
    <SkillCard name="Node.js" icon="" level="Intermedio" />
    <SkillCard name="Tailwind CSS" icon="" level="Avanzado" />
  </section>

  <section class="mt-16 grid md:grid-cols-2 gap-6">
    <ProjectCard
      title="Sistema de Autenticaci贸n"
      description="Login con cookies y rutas protegidas."
      link="#"
    />
    <ProjectCard
      title="Sistema de Autenticaci贸n"
      description="Login con cookies y rutas protegidas."
      link="#"
    />
  </section>


</Layout>
