---
import Layout from '../layouts/Layout.astro';
import AuthForm from '../components/AuthForm.astro';
---

<Layout title="Login / Registro">
  <main class="min-h-screen flex items-center justify-center bg-gray-100">
    <AuthForm />
  </main>
</Layout>
